@import url(default.css);
@import url(colorbox.css);

#pyramid .player {
    border: 1px solid #000000;
    display: block;
}
#pyramid .buildingBlock {
    display: inline-block;
    width: 120px;
    height: 30px;
    margin: 2px 5px;
    background-color: #eee;
    border: 2px solid #ccc;
    vertical-align: middle;
}
#pyramid .available {
    background-color: #0a0;
}
#pyramid .yourself {
    background-color: #09c;
}
#pyramid .empty {
    background-color: #ccc;
}
#pyramid {
    text-align:center;
}
#pyramid .spanLink {
    pointer-events: none;
    cursor: default;
}
#pyramid a {
    color: black;
}

#pyramid .colorbox {

}